section,
header,
p {
	outline: 2px solid #ffffff;
}

div {
	outline: 2px solid green;
}

ul {
	outline: 2px solid red;
}

img {
	outline: 2px solid orange;
}

nav {
	outline: 2px solid blue;
}

article {
	outline: 2px solid magenta;
}

ol {
	outline: 2px solid black;
}