body {
	padding: 0;
	margin: 0;

	font-family: "Roboto", Arial, sans-serif;
	font-size: 16px;
	line-height: 22px;
	font-weight: 400;
	color: #ffffff;

	background-color: #849d8f; 

}

body.main-page {	
	background-image: url("../img/backlight.png");
	background-position: 50% 0;
	background-repeat: no-repeat;
}

a {
	color: inherit;
	text-decoration-color: rgba(255, 255, 255, 0.2);
}

a:hover,
a:focus,
a:active
 {
	color: #ffbc9e;
	text-decoration-color: rgba(255, 188, 158, 0.3);
}

/*Класс для скрывания от всех, кроме читалок*/

.visually-hidden {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	border: 0;
	padding: 0;
	clip: rect(0 0 0 0);
	overflow: hidden;
}

/* Скрывание модалок */

.modal {
	display: none;
}

/* Кнопки */

.button {
	padding: 12px 23px;	

	font: inherit;
	color: #ffffff;
	font-size: 18px;
	line-height: 24px;
	font-weight: bold;
	text-decoration: none;
	text-align: center;
	vertical-align: middle;
	white-space: nowrap;

	background-color: #e84d37;
	background-image: linear-gradient(#e74a35, #f26843);

	box-shadow: 0 2px 2px 0 rgba(85, 8, 0, 0.54);

	border: none;
	border-radius: 23px;
}

.button:hover,
.button:focus {
	color: #ffffff;

	background-image: 
	linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)),
	linear-gradient(#e74a35, #f26843);

	box-shadow: 0 2px 1px 0 #ac1000;
}

.button:active {
	background-image: 
	    linear-gradient(rgba(0, 0, 0, 0.07), rgba(0, 0, 0, 0.07)),
	    linear-gradient(#e74a35, #f26843);

	box-shadow: inset 0 2px 2px 0 #942718;
}

.main-button {
	padding: 12px 41px;

	font-size: 32px;
	line-height: 44px;
	text-shadow: 0 2px 5px rgba(160, 32, 11, 0.76);

	box-shadow: 0 2px 2px 0 rgba(172, 16, 0, 0.64);

	border-radius: 31px;
}


/*    Главное меню     */

.main-navigation {
	font-weight: bold;
	line-height: 18px;
}

.user-navigation {
	font-weight: 500;
	line-height: 16px;
}

.main-navigation a,
.user-navigation a {
	text-decoration-color: rgba(255, 255, 255, 0.2);
	color: inherit;
}

.main-navigation a:hover,
.main-navigation a:focus,
.main-navigation a:active {
	border-bottom: none;
}

.main-nav-button {
	padding-top: 7px;
	padding-bottom: 6px;
	padding-left: 13px;
	padding-right: 13px;

	text-align: center;
	vertical-align: middle;
}

.main-nav-button:hover,
.main-nav-button:focus {
	color: #323232;

	background-color: #f7f6f3;
	border-radius: 16px;
	box-shadow: 0 0 0 1px #ffffff;
}

.main-nav-button:active {
	box-shadow: inset 0 2px 2px 0 #696969;

}

.main-nav-current {
	color: #ffffff;
	text-decoration: none;
	
	background-color: #d07058;
	border-radius: 16px;
	box-shadow: none;
}

.main-nav-current:hover,
.main-nav-current:focus {
	color: #ffffff;
	
	background-color: #d07058;
	border-radius: 16px;
	box-shadow: none;
}

.user-navigation-item {
	padding-top: 7px;
	padding-bottom: 7px;
	padding-left: 44px;
	padding-right: 16px;
	margin: 0;

	color: inherit;
	font-weight: 500;

	background-color: rgba(255, 255, 255, 0.2);

	border: none;
	border-radius: 16px;
}

.search-button {
	padding: 16px;

	font-size: 0;

	background-image: url("../img/loupe.svg");
	background-repeat: no-repeat;
	background-position: 50% 50%;
}

.login-button {
	background-image: url("../img/entrance.svg");
	background-repeat: no-repeat;
	background-position: 16px 6px;
}

 {
	background-color: #ffffff;
}

.basket-button {
	background-image: url("../img/basket.svg");
	background-repeat: no-repeat;
	background-position: 16px 6px;
}

.search-button:hover,
.search-button:focus,
.search-button:active,
.login-button:hover,
.login-button:focus,
.login-button:active,
.basket-button:hover,
.basket-button:focus,
.basket-button:active {
	background-color: #f8f7f4;
}

.basket-button.basket-not-empty {
	color: #323232;

	background-color: #f8f7f4;
	background-image: url("../img/basket-red.svg");
	background-repeat: no-repeat;
}

.main-navigation ul,
.user-navigation {
	list-style: none;
}

.submenu-catalog {
	display: none;
}

.main-navigation li:hover > .submenu-catalog {
	display: block;
}

.user-navigation-item:hover,
.user-navigation-item:focus {
	color: #323232;

	background-color: #f7f6f3;
}

/* Раздел слайдер */

.slider ul {
	list-style: none;	
}

.slider-item {
	text-align: center;
}

.slider-header {
	font-size: 60px;
	line-height: 60.35px;
	font-weight: bold;
}

/* Раздел горячие предложения */

.hot-deals-item {
	font-size: 18px;
	line-height: 22px;
	font-weight: bold;
}

.hot-deals-title {
	font-size: 35px;
	line-height: 41px;
	font-weight: bold;
}

.raspberry-deal {
	background-color: #721329;
	background-image: url("../img/raspberry-bg.jpg");
	background-repeat: no-repeat;

}

.chocolate-deal {
	background-color: #371a0c;
	background-image: url("../img/chocolate-bg.jpg");
	background-repeat: no-repeat;
}

/* Раздел хиты продаж */
.bestsellers-list {
	list-style: none;
}

.bestsellers-list h3 {
	font-size: 16px;
	line-height: 22px;
	font-weight: 500;

	text-align: center;
}

.bestsellers-list .price {
	font-size: 45px;
	line-height: 45px;
	font-weight: bold;

}

.bestsellers-list p {
	font-size: 30px;
	line-height: 45px;
	font-weight: bold;
}

.bestsellers-list .rouble {
	display: inline-block;
	position: relative;
	top: -11px;
	left: 2px;

	font-size: 0px;

	width: 31px;
	height: 36px;

	background-image: url("../img/ruble.svg");
	background-repeat: no-repeat;
}

.bestsellers-list li {
	position: relative;
}

.bestsellers-list li::before {
	position: absolute;
	top: 0;
	left: 0;

	content: "";
	width: 61px;
	height: 61px;

	background-image: url("../img/hit.svg");
}

/* Раздел Преимущества (главная)*/

.advantages {
	color: #323232;

	background-color: #ece1c8;
	background-image: url("../img/waffel-pattern.jpg");
	background-position: 0 0;
	background-repeat: repeat;
}

.advantages-general-text {
	font-size: 24px;
	line-height: 30px;
	font-weight: 500;
}

.advantages-icon {
	font-size: 0;
	width: 50px;
	height: 50px;
	background-position: top left;
	background-repeat: no-repeat;
}

.advantages-icon-ice-cream {
	background-image: url("../img/ice-cream.svg");
}

.advantages-icon-eco {
	background-image: url("../img/eco.svg");
}

.advantages-icon-cow {
	background-image: url("../img/cow.svg");
}

.advantages-icon-thermometer {
	background-image: url("../img/thermometer.svg");
}


/* Новоти в блоге */

.blog-news {
	background-color: #ffffff;	
	background-image: url("../img/strawberry-bg.jpg");
	background-position: center;
	background-repeat: no-repeat;
}

.blog-news-title {
	color: #323232;
	font-size: 16px;
	line-height: 22px;
	font-weight: 500;
}

.blog-news-item {
	color: #323232;
	font-size: 24px;
	line-height: 30px;
	font-weight: bold;
	text-decoration-color: #353535;
}

.blog-news a:hover,
.blog-news a:focus,
.blog-news a:active {
	color: #e84d37;
	text-decoration-color: rgba(232, 77, 55, 0.3);
}


/* Подписка */

.subscribe {
	color: #5a5a5a;

	background-color: #f8f7f4;

	border-image: url("../img/bg-post.svg");
}

/* Карта */

.map-infobox {
	background-color: rgba(255, 255, 255, 0.98);
}

.map-infobox p {
	color: #323232;
	font-size: 14px;
	line-height: 20px;
}

.map-infobox a {
	text-decoration: none;
}

.map-infobox .office-address {
	font-size: 18px;
	line-height: 24px;
	font-weight: bold;
}

.map-infobox .phone {
	color: #323232;
	font-size: 18px;
	line-height: 22px;
	font-weight: bold;
}

.map-infobox .working-hours {
	font-size: 14px;
	line-height: 22px;
}

/*         */
/* Каталог */
/*         */

/* Фильтр товаров */

.filters fieldset {
	border: none;
}

.filters ul {
	list-style: none;	
}

.filters-group {
	color: #ffffff;
	font-size: 16px;
	line-height: 18px;
	font-weight: 500;

	border: none;
	border-radius: 18px;

	background-color: rgba(255, 255, 255, 0.2);
}

select.filters-group:hover {
	color: #323232;
}

.filters-button {
	padding-top: 9px;
	padding-bottom: 9px;
	padding-left: 29px;
	padding-right: 29px;
	margin: 0;

	color: inherit;
	font-size: 16px;
	line-height: 18px;
	font-weight: 500;

	background-color: rgba(255, 255, 255, 0.2);

	box-shadow: inset 0 0 0 2px #ffffff;
	border: none;
	border-radius: 18px;
}

.filters-button:hover,
.filters-button:focus {
	color: #323232;

	background-color: #f7f6f3;
}

.filters-button:active {

	box-shadow: inset 0 2px 1px 0 #696969;
	border: 2px solid #;
}

/* Хлебные крошки */

.breadcrumbs ul {
	list-style: none;
}

/* Список товаров */

.goods-list {
	list-style: none;
}

.goods-list h3 {
	font-size: 16px;
	line-height: 22px;
	font-weight: 500;

	text-align: center;
}

.goods-list .price {
	font-size: 45px;
	line-height: 45px;
	font-weight: bold;

}

.goods-list p {
	font-size: 30px;
	line-height: 45px;
	font-weight: bold;
}

.goods-list .rouble {
	display: inline-block;
	position: relative;
	top: -11px;
	left: 2px;

	font-size: 0px;

	width: 31px;
	height: 36px;

	background-image: url("../img/ruble.svg");
	background-repeat: no-repeat;
}


/* Пагинация */

.pagination {
	list-style: none;
}

.pagination .page-link {
	padding-top: 4px;
	padding-bottom: 3px;
	padding-left: 9px;
	padding-right: 9px;

	font-size: 16px;
	line-height: 18px;
	font-weight: 500;
	text-decoration: none;
	
	border-radius: 50%;
}

.pagination .page-link:hover,
.pagination .page-link:focus,
.pagination .page-link:active {
	color: #ffffff;
	background-color: rgba(255, 255, 255, 0.2);
}

.pagination .current-page {
	color: #353535;
	padding-top: 4px;
	padding-bottom: 3px;
	padding-left: 9px;
	padding-right: 9px;

	font-size: 16px;
	line-height: 18px;
	font-weight: 500;
	text-decoration: none;
	
	border-radius: 50%;
	background-color: #eaeaea;
}

.previous-page,
.next-page {
	display: inline-block;
	width: 27px;
	height: 26px;

	font-size: 0;

	background-image: url("../img/icon-right-small.svg");
	background-position: center;
	background-repeat: no-repeat;
}

/* Подвал */

footer {
	color: #ffffff;
	font-size: 13px;
	line-height: 18px;

}

footer ul {
	list-style: none;
}


footer .suppliers {
	font-weight: bold;
}

footer .made-in-htmlacademy {
	font-size: 12px;
}

.social-button {
	display: block;
	width: 32px;
	height: 32px;

	font-size: 0;

	background-repeat: no-repeat;
	border: 3px solid rgba(255, 255, 255, 0.5);
	border-radius: 50%;
}

.twitter-social {
	background-image: url("../img/twitter.svg");	
}

.instagram-social {
	background-image: url("../img/instagram.svg");
}

.facebook-social {
	background-image: url("../img/fb.svg");
}

.vk-social {
	background-image: url("../img/vk.svg");
}

.suppliers {
	position: relative;
}

.suppliers::before {
	content: "";
	position: absolute;
	top: 2px;
	left: -22px;
	width: 15px;
	height: 13px;

	background-image: url("../img/heart.svg");
	background-repeat: no-repeat;
	background-position: 0;
}

.html-academy-logo {
	display: block;
	width: 108px;
	height: 39px;

	font-size: 0;

	background-image: url("../img/logo-htmlacademy.svg");
	background-repeat: no-repeat;
}



/******************/
/* Сеточные стили */
/******************/


.container {
	width: 1146px;
	margin: 0 27px;
}

/* Временно для сеток */
body.main-page {
	background-image: url("../img/gllacy-index.jpg");
	background-repeat: no-repeat;
}



.page-header {
	position: relative;
	display: flex;
	justify-content: space-between;

/* Временно для сеток */
	min-height: 75px;
}

.main-navigation {
	margin-left: 22px;

/* Временно для сеток */
	min-height: 32px;
	min-width: 350px;
}

.logo-and-nav {
	display: flex;
}

.user-navigation {
	padding: 0;

	/* Временно для сеток */
	min-width: 244px;
	min-height: 32px;
}

.useful-info {
	position: absolute;
	bottom: -42px;
	right: 0;

	width: 165px;
	height: 42px;
}

main {
	padding-top: 10px;
}

.slider {

		/* Временно для сеток */
	min-height: 584px;

}

.hot-deals {
	margin-top: -22px;
	display: flex;
	justify-content: space-between;

	/* Временно для сеток */
	min-height: 229px;

}

.hot-deals article {
	width: 560px;

	/* Временно для сеток */
	background-image: none;
	background-color: transparent;
}

.bestsellers {
	margin-top: 40px;

/* Временно для сеток */
	min-height: 330px;
}

.advantages {
	margin-top: 32px;

/* Временно для сеток */
	min-height: 306px;
	background: none;
}

.blog-and-subscribe {
	margin-top: 40px;
	display: flex;
	justify-content: space-between;

/* Временно для сеток */
	min-height: 220px;
	background: none;
}

.blog-news {
	width: 560px;

	/* Временно для сеток */
	background: none;
}

.subscribe {
	width: 560px;

	/* Временно для сеток */
	background: none;
}

.map {
	position: relative;
	margin-top: 40px;
	width: 1200px;

	/* Временно для сеток */
	min-height: 430px;
}

.map-infobox {
	position: absolute;
	top: 62px;
	right: 27px;
	width: 302px;
	height: 305px;

	/* Временно для сеток */
	background: none;
}

footer {
	display: flex;
	justify-content: space-between;
	/* Временно для сеток */
	min-height: 103px;
}

.social {
	/* Временно для сеток */
	min-width: 187px;
}

.footer-nav {
	/* Временно для сеток */
	min-width: 328px;
}

.copyright {
	/* Временно для сеток */
	min-width: 190px;
}