body {
	padding: 0;
	margin: 0;

	font-family: "Roboto", Arial, sans-serif;
	font-size: 16px;
	line-height: 22px;
	font-weight: 400;
	color: #ffffff;

	background-color: #849d8f; 

}

a {
	color: inherit;
	text-decoration-color: rgba(255, 255, 255, 0.2);
}

a:hover,
a:focus,
a:active
 {
	color: #ffbc9e;
	text-decoration-color: rgba(255, 188, 158, 0.3);
}

/*Класс для скрывания от всех, кроме читалок*/

.visually-hidden {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	border: 0;
	padding: 0;
	clip: rect(0 0 0 0);
	overflow: hidden;
}

/* Скрывание модалок */

.modal {
	display: none;
}

/* Кнопки */

.button {
	padding: 12px 23px;	

	font: inherit;
	color: #ffffff;
	font-size: 18px;
	line-height: 24px;
	font-weight: bold;
	text-decoration: none;
	text-align: center;
	vertical-align: middle;

	background-color: #e84d37;
	background-image: linear-gradient(#e74a35, #f26843);

	box-shadow: 0 2px 2px 0 rgba(85, 8, 0, 0.54);

	border: none;
	border-radius: 23px;
}

.button:hover,
.button:focus {
	color: #ffffff;

	background-image: 
	linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)),
	linear-gradient(#e74a35, #f26843);

	box-shadow: 0 2px 1px 0 #ac1000;
}

.button:active {
	background-image: 
	    linear-gradient(rgba(0, 0, 0, 0.07), rgba(0, 0, 0, 0.07)),
	    linear-gradient(#e74a35, #f26843);

	box-shadow: inset 0 2px 2px 0 #942718;
}



/*    Главное меню     */

.main-navigation {
	font-weight: bold;
	line-height: 18px;
}

.user-navigation {
	font-weight: 500;
	line-height: 16px;
}

.main-navigation a,
.user-navigation a {
	text-decoration-color: rgba(255, 255, 255, 0.2);
	color: inherit;
}

.main-navigation a:hover,
.main-navigation a:focus,
.main-navigation a:active {
	border-bottom: none;
}

.main-nav-button {
	padding: 7px 12px;

	text-align: center;
	vertical-align: middle;
}

.main-nav-button:hover,
.main-nav-button:focus {
	color: #323232;

	background-color: #f7f6f3;
	border-radius: 16px;
	box-shadow: 0 0 0 1px #ffffff;
}

.main-nav-button:active {
	box-shadow: inset 0 2px 2px 0 #696969;

}

.main-nav-current {
	color: #ffffff;
	text-decoration: none;
	
	background-color: #d07058;
	border-radius: 16px;
	box-shadow: none;
}

.main-nav-current:hover,
.main-nav-current:focus {
	color: #ffffff;
	
	background-color: #d07058;
	border-radius: 16px;
	box-shadow: none;
}

.user-navigation-item {
	padding-top: 7px;
	padding-bottom: 7px;
	padding-left: 44px;
	padding-right: 16px;
	margin: 0;

	color: inherit;
	font-weight: 500;

	background-color: rgba(255, 255, 255, 0.2);

	border: none;
	border-radius: 16px;
}

.search-button {
	padding: 16px;

	font-size: 0;

	background-image: url("../img/loupe.svg");
	background-repeat: no-repeat;
	background-position: 50% 50%;
}

.login-button {
	background-image: url("../img/entrance.svg");
	background-repeat: no-repeat;
	background-position: 16px 6px;
}

 {
	background-color: #ffffff;
}

.basket-button {
	background-image: url("../img/basket.svg");
	background-repeat: no-repeat;
	background-position: 16px 6px;
}

.search-button:hover,
.search-button:focus,
.search-button:active,
.login-button:hover,
.login-button:focus,
.login-button:active,
.basket-button:hover,
.basket-button:focus,
.basket-button:active {
	background-color: #f8f7f4;
}

.main-navigation ul,
.user-navigation {
	list-style: none;
}

.submenu-catalog {
	display: none;
}

.main-navigation li:hover > .submenu-catalog {
	display: block;
}

.user-navigation-item:hover {
	color: #323232;

	background-color: #f7f6f3;
}

/* Раздел Преимущества (главная)*/

.advantages {
	color: #323232;

	background-color: #ece1c8;
	background-image: url("../img/waffel-pattern.jpg");
	background-position: 0 0;
	background-repeat: repeat;
}

.advantages-general-text {
	font-size: 24px;
	line-height: 30px;
	font-weight: 500;
}

.advantages-icon {
	font-size: 0;
	width: 50px;
	height: 50px;
	background-position: top left;
	background-repeat: no-repeat;
}

.advantages-icon-ice-cream {
	background-image: url("../img/ice-cream.svg");
}

.advantages-icon-eco {
	background-image: url("../img/eco.svg");
}

.advantages-icon-cow {
	background-image: url("../img/cow.svg");
}

.advantages-icon-thermometer {
	background-image: url("../img/thermometer.svg");
}


/* Новоти в блоге */

.blog-news {
	background-color: #ffffff;	
	background-image: url("../img/strawberry-bg.jpg");
	background-position: center;
	background-repeat: no-repeat;
}

.blog-news-title {
	color: #323232;
	font-size: 16px;
	line-height: 22px;
	font-weight: 500;
}

.blog-news-item {
	color: #323232;
	font-size: 24px;
	line-height: 30px;
	font-weight: bold;
	text-decoration-color: #353535;
}

.blog-news a:hover,
.blog-news a:focus,
.blog-news a:active {
	color: #e84d37;
	text-decoration-color: rgba(232, 77, 55, 0.3);
}


/* Подписка */

.subscribe {
	color: #5a5a5a;

	background-color: #f8f7f4;

	border-image: url("../img/bg-post.svg");
}

/* Карта */

.map-infobox {
	background-color: rgba(255, 255, 255, 0.98);
}

.map-infobox p {
	color: #323232;
	font-size: 14px;
	line-height: 20px;
}

.map-infobox a {
	text-decoration: none;
}

.map-infobox .office-address {
	font-size: 18px;
	line-height: 24px;
	font-weight: bold;
}

.map-infobox .phone {
	color: #323232;
	font-size: 18px;
	line-height: 22px;
	font-weight: bold;
}

.map-infobox .working-hours {
	font-size: 14px;
	line-height: 22px;
}

/*         */
/* Каталог */
/*         */

/* Хлебные крошки */

.breadcrumbs ul {
	list-style: none;
}

/* Список товаров */

.goods-list {
	list-style: none;
}

.goods-list h3 {
	font-size: 16px;
	line-height: 22px;
	font-weight: 500;

	text-align: center;
}

.goods-list .price {
	font-size: 45px;
	line-height: 45px;
	font-weight: bold;

}

.goods-list p {
	font-size: 30px;
	line-height: 45px;
	font-weight: bold;
}

.goods-list .rouble {
	display: inline-block;
	position: relative;
	top: -11px;
	left: 2px;

	font-size: 0px;

	width: 31px;
	height: 36px;

	background-image: url("../img/ruble.svg");
	background-repeat: no-repeat;
}


/* Пагинация */

.pagination {
	list-style: none;
}

.pagination a {
	font-size: 16px;
	line-height: 18px;
	font-weight: 500;
	text-decoration: none;

}

/* Подвал */

footer {
	color: #ffffff;
	font-size: 13px;
	line-height: 18px;

}

footer ul {
	list-style: none;
}


footer .suppliers {
	font-weight: bold;
}

footer .made-in-htmlacademy {
	font-size: 12px;
}

.social-button {
	display: block;
	width: 32px;
	height: 32px;

	font-size: 0;

	background-repeat: no-repeat;
	border: 3px solid rgba(255, 255, 255, 0.5);
	border-radius: 50%;
}

.twitter-social {
	background-image: url("../img/twitter.svg");	
}

.instagram-social {
	background-image: url("../img/instagram.svg");
}

.facebook-social {
	background-image: url("../img/fb.svg");
}

.vk-social {
	background-image: url("../img/vk.svg");
}

.suppliers {
	position: relative;
}

.suppliers::before {
	content: "";
	position: absolute;
	top: 2px;
	left: -22px;
	width: 15px;
	height: 13px;

	background-image: url("../img/heart.svg");
	background-repeat: no-repeat;
	background-position: 0;
}

.html-academy-logo {
	display: block;
	width: 108px;
	height: 39px;

	font-size: 0;

	background-image: url("../img/logo-htmlacademy.svg");
	background-repeat: no-repeat;
}

